<h6>HackerOne</h6>
<nb-tabset>
    <nb-tab tabTitle="Programs">
        <ag-grid-angular
            style="width: 100%;" 
            class="ag-theme-alpine data-grid"
            [rowData]="programsRowData"
            [columnDefs]="programsColDefs"
        >
        </ag-grid-angular>
    </nb-tab>
    <nb-tab tabTitle="Targets">
        <ag-grid-angular
            style="width: 100%;" 
            class="ag-theme-alpine data-grid"
            [rowData]="targetsRowData"
            [columnDefs]="targetsColDefs"
         ></ag-grid-angular>
    </nb-tab>
</nb-tabset>

